@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BIOS";
  src: url("../assets/fonts/BIOS.woff");
}

@font-face {
  font-family: "BIOS2";
  src: url("../assets/fonts/BIOS-2y.woff");
}

@font-face {
  font-family: "BIOS3";
  src: url("../assets/fonts/BIOS-2x.woff");
}
